<section class="jaunecta">
    <footer class="jaunePied">
        <div class="row ">
            <div class="col text-center">
                <ul class="PiedPage">
                    <li><a href="/mentions-legales">Mentions légales</a></li>
                    <li><a href="/contact">Contactez-nous</a></li>
                </ul>
            </div>
        </div>
    </footer>
</section>